.columns-container {
    display: flex;
  }
  
  .column {
    flex: 1;
    border: 1px solid #ccc;
    margin: 8px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .column-add {
    flex: 0.5;
    border: 1px solid #ccc;
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
  }

  .icon {
    cursor: pointer;
  }
  
  

  