
.item {
    background-color: white;
    border: 1px solid #ccc;
    padding: 8px;
    margin: 4px 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .item-container {
    display: flex;
    align-items: center;
  }

  .icon {
    margin-left: 8px;
  }